body {
    background: #121212;
    color: white;
    font-family: 'Montserrat',sans-serif;
}

.content {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}