body {
    background: #171717;
    color: white;
    font-family: 'Montserrat',sans-serif;
}

.content {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-weight: bold;
}

.box {
    width: 65%;
    border-radius: 12px;
    height: 30%;
    background: rgba(255,255,255,0.25);
    position: relative;
}